  <div *ngIf="!current">
    no data  
  </div>
  <div *ngIf="current">
    <div fxLayout="row">
      <div class="mat-title no-margin" fxFlex="66%">{{current.city}}, {{current.country}} </div>
      <div class="mat-h3 no-margin right" fxFlex>{{current.date | date:'EEEE MMM d' }}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="66%"><img style="zoom: 175%" [src]='current.image'></div>
      <div class="mat-display-3 no-margin right" fxLayoutAlign="center center" fxFlex> 
        {{current.temperature | number:'1.0-0'}}&#8457;
      </div>
    </div>
    <div fxLayoutAlign="center" class="mat-caption">
      {{current.description}}
    </div>
  </div>


